body {
    background-color: rgb(12, 12, 87);
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.number-box{
    display: flex;
    justify-content: center;
    width: 100%;
}

.number-child {
    background-color: azure;
    padding: 2rem;
    margin:0.5rem;
    width: 30%;
}

.result {
    position: absolute;
    padding: 1rem 2rem;
    background-color: greenyellow;
}

.ura {
    display: flex;
    justify-content: center;
    align-items: center;
}